<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Broadway</title>
<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>

    <% content %>

</body>
</html>
