body {
    /*font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;*/
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 48px;
    color: #fff;
}

h1, h2, h3 { 
	text-align: center; 
	margin: 0.2em; 
	margin-top: 0;
	padding:0;
}

h1 { font-size: 92px; }
h2 { font-size: 72px; }
h3 { font-size: 52px; }

p, ul, li { 
	margin: 0;
	padding: 0;
	font-size: 64px; 
}

ul { margin-left: 2em; }

p { text-align: center; }

pre { 
	margin-top: 1em; 
	font-size: 38px; 
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#slide {
    padding: 0;
	margin: 0;

	vertical-align: middle;
	display: table-cell;

	height: 580px;
	width: 1024px;
}
