* { 
    margin: 0; 
    padding: 0;
}
    
html,body {
    height: 100%;
}

a {
	color: #bbf;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
    font-size: 48px;
    background-color: #000;
    background: #000 url("/images/perldancer-bg.jpg") no-repeat top center;
    color: #eee;
}

img {
    margin: 0.5em;
    padding: 2px;
}

h1, h2, h3 { 
	text-align: center; 
	margin: 0; 
	padding:0;
    margin-bottom: 0.2em;
}

h1 { font-size: 82px; }
h2 { font-size: 72px; }
h3 { font-size: 60px; }

p, ul, li { 
	margin: 0;
	padding: 0.1em;
	font-size: 50px; 
}

ul { margin-left: 2em; }

p { text-align: center; }


pre { 
	margin-top: 1em; 
	font-size: 36px; 
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

pre.big { font-size: 48px; }

em {
    color: #ccf;
}

pre, ul { text-align: left; }

#footer {
    border-top: 2px solid #222;
    margin: 0;
    padding: 0;
	padding-top: 4px;
    text-align: center;
    font-size: 16px;
    color: #444;
}

#footer span {
    margin-right: 1em;
}

#footer span.title {
font-weight: bold;
}

#content_wrapper{
    position:absolute;
    top:0;
    left:50%;
    width:80%;
    height:70%;
    margin-left:-40%;
    /*margin-top:-30%;*/
    display:table;
}

#slide{
    padding:20px; 
    display:table-cell; 
    vertical-align:middle;
    text-align:center; 
    overflow:auto}

#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#footer {
    clear:both; 
    height:30px;
}

#footer p{
    text-align:center
} 

#remote {
    position: absolute;
    color: #445;
    text-align: center;
    font-size: 20px;
    bottom: 60px;
    margin: 0;
    padding: 0;
}

